body {
	
	background-image: url('../imgs/dark3.jpg');
	background-color: rgb(2, 12, 27);
	background-size: cover;
	font-family: 'Roboto';
}
.header {
	width: 694px;
	height: 30px;
	margin: 10px auto;
	padding-bottom: 65px;
	font-size: 20px;

	text-align: center;
	color: rgb(228, 228, 141);
	background-color: rgb(8, 25, 82);
	border-radius: 5px;
	border: 1px solid rgb(255, 255, 255);
	display: block;
}
.Tem {
	width: 700px;
	height: fit-content;
	margin: 0px auto;
	display: flex;
	flex-direction: row;
}
.MyFace-img {
	width: 294px;
	height: 100%;
	display: block;
	border-radius: 10px;
	border: 3px solid rgb(8, 25, 82);
	
	
}
.Code-img {
	margin: 0px 10px;
	height: auto;
	width: 384px;
	border-radius: 10px;
	border: 3px solid rgb(197, 171, 171);
}
.info {
	padding: 10px;
}
.info-text {
	width: 615px;
	height: 80px;
	margin: 0 auto;
	padding: 10px;
	padding-left: 70px;
	text-align: left;
	font-size: 30px;
	font-style: italic;
	color: rgb(3, 3, 75);
	background-color: rgb(228, 228, 141);
	border-radius: 25px;
	border: 3px solid rgb(8, 25, 82);

}
@font-face {
	font-family: 'Roboto';
	src: url(../fonts/Roboto-Regular.ttf);
}

footer {
	width: 200px;
	margin: auto;
	text-align: center;
}

footer a, footer p {
	font-size: 20px;
	display: inline-block;
	color: white;
	text-decoration: none;
}

.round-icon {
	border: 1px solid yellow;
	border-radius: 25%;
}